html {
  box-sizing: border-box;
  font-size: 10px;
}

.main {
  display: flex;
  height: 100%;
  background-color: #000;
  color: white;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.main h1 {
  font-size: 6.4rem;
  font-weight: 200;
}

.main h3 {
  font-size: 2rem;
  font-weight: 200;
}

#url-input {
  font-size: 2rem;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#url-input + label{
  font-size: 1.5rem;
}

#submit-btn {
  font-size: 2rem;
}

#example-text {
  font-size: 2rem;
  font-weight: 400;
}

.feedback {
  font-size: 2rem;
}

.feedsSection {
  margin-top: 5rem;
  
}

.feedsSection #posts h4 {
  font-size: 2rem;
  font-weight: 700;
}

.feedsSection #posts button {
  font-size: 1.5rem;
}

.feedsSection #posts .post {
  margin: 1rem;
}


